.root {
  margin: 0 auto;
  padding: 0 auto;
}

.grid-section {
  display: grid;
  place-items: center;
}

.description {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 43px;
  height: 100%;
  position: static;
}

.description-1 {
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #2b0c5a;
}

.list-group {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 10px;
  border-radius: none;
  width: 120%;
  align-self: flex-start;
  padding-top: 20px;
  text-align: center;
}

.tab-content {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 8;
  padding-top: 20px;
}

.lista_e_info {
  padding-left: 100px;
}

.mas-info a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 auto;
  color: #000;
}

.mas-info {
  width: 120%;
  height: 50%;
  background-color: #fff;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border: 5px solid #2b0c5a;
}

.list-group a {
  background-color: #2b0c5a;
  color: #fff;
  align-self: center;
}
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0%;
}

.list-group-item.list-group-item {
  border-top-width: 0;
}

.list-group-item.active {
  background-color: #3f0e88;
  border-color: #fff;
  color: #ffffff;
}

.list-group a:hover {
  background-color: #452477;
  color: #ffffff;
}

summary {
  padding-bottom: 10px;
  font-weight: 700;
}

button {
  font-weight: 700;
  width: 70px;
}

.tab-pane {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  place-items: center;
  padding-right: 30px;
}

table {
  text-align: center;
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 5;
  border: 15px solid #2b0c5a;
}

.mostrar {
  display: block;
}

h3 {
  grid-column-start: 1;
  grid-column-end: 5;
  padding-top: 20px;
}

th,
td {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: 9px solid #b2d8fa;
}

#tabla1,
#tabla2,
#tabla3,
#tabla4 {
  text-align: center;
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 20px;
}
