/* -------------------------------------------*/
/* RESPONSIVE DESIGN ADAPTABLE PARA LAPTOPS */
/* -------------------------------------------*/

@media (max-width: 1470px) {
  .footer-menus .footer-content-container:nth-of-type(1) {
    margin-right: 150px;
  }

  .header {
    display: flex;
    align-items: center;
    box-sizing: initial;
    padding: 10px 12px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .header > button > svg,
  .btn > svg {
    height: 40px;
    width: 40px;
    fill: #2b0c5a;
  }

  .container-logo > img {
    margin: 0 30px;
  }

  .container-items {
    padding: 0;
    margin: 0;
  }

  .btn {
    border: none;
  }

  .offcanvas {
    width: 270px !important;
  }

  .offcanvas-header {
    padding: 10px 12px;
    position: initial;
  }

  .offcanvas-body {
    overflow-y: auto;
    padding: 16px 0px 16px 16px;
  }

  .offcanvas-body::-webkit-scrollbar {
    -webkit-border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    width: 9px;
  }

  .offcanvas-body::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
  }

  .offcanvas-body::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }

  .offcanvas-body::-webkit-scrollbar-corner {
    background: transparent;
  }

  .offcanvas-body::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .offcanvas-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
      inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
      inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  }

  .offcanvas-body::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  }

  .offcanvas-body::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
  }
}

/* -------------------------------------------*/
/* RESPONSIVE DESIGN ADAPTABLE PARA TELEFONOS */
/* -------------------------------------------*/

@media (max-width: 768px) {
  .footer-container {
    padding: 3rem;
    flex-direction: column;
  }

  .footer-content-container {
    width: 100%;
    padding: 3rem 0;
    border-bottom: 1px solid #2a2a2a;
    align-items: center;
  }

  .footer-content-container:nth-of-type(1) {
    align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-left: 20px;
    padding-bottom: 0;
  }

  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }

  .footer-menus .footer-content-container:nth-of-type(1) {
    width: 100%;
    align-items: flex-start;
    border-bottom: none;
  }
  .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
}

/* Cuando haces zoom, el sidebar coloca un scroll para ver todas las secciones */
@media (max-height: 845px) {
  .sidebar {
    overflow-y: scroll;
  }
}
