/* ---------------------------------------- */
/* Paleta de colores                        */
/* ---------------------------------------- */

:root {
  --violeta: #2B0C5A;
  --violeta-oscuro: #1A0041;
  --celeste-claro: #E7F1FA;
  --gris: #D9D9D9;
  --naranja: #E66629;
  --blanco: #FFFFFF;
  --negro: #000000;
}

/* ---------------------------------------- */
/* Seleccion del fuente de texto            */
/* ---------------------------------------- */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--celeste-claro);
  margin: 0px;
  padding: 0px;
}

/* ---------------------------------------- */
/* Estilos generales                        */
/* ---------------------------------------- */

.texto-bold { font-weight: 700; }

.texto-semibold { font-weight: 600; }

.texto-regular { font-weight: 400; }

.texto-violeta { color: var(--violeta); }

.convertir-flex { display: flex; }

p { margin: 0; }

a { text-decoration: none; }

/* ---------------------------------------- */
/* Estilos para los titulos de cada seccion */
/* ---------------------------------------- */

.contenedor-titulo {
  margin: 50px auto;
  width: 90%;
  border-bottom: 5px solid var(--violeta);
  padding-bottom: 10px;
}

.titulo-seccion {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: #2B0C5A;
  margin-bottom: -15px;
}

.rectangulo-logo {
  margin-left: 14px;
  margin-right: 14px;
  fill: var(--celeste-claro);
}

.grid-container {
  display: grid;
  grid-template-areas:
      'sidebar content'
      'sidebar footer';
  grid-template-columns: 270px;
}

.content-container {
  grid-area: content;
}



@media (max-width: 1470px) {
  .grid-container {
      display: block;
  }

  .sidebar-container {
      display: none;
  }

  .content-container {
      margin: 0 auto;
  }

  .contenedor-titulo {
      margin-top: 100px;
  }
}