/* Images */

.circulo {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
  }
  
  .linea {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }
  
  .contenedor-imagen-faq > img {
    filter: opacity(50%);
  }
  
  .pitito-2 {
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    width: 24.9px;
    justify-self: end;
  }
  
  .llave {
    grid-row: 3;
    grid-column: 1;
  }
  
  /* Main Structure */
  
  .box {
    /* Whole box */
    display: grid;
    grid-template-columns: 26px 20px 25px auto;
    grid-template-rows: auto auto 33px;
    margin: 10px 15px 45px 44px;
    word-wrap: break-word;
  }
  
  .segunda-fila {
    /* Row2 */
    grid-column: 3 / span 2;
    margin: 0 75px;
  }
  
  .box-pregunta {
    grid-column: 3 / span 3;
  }
  
  .box-linea {
    grid-row: 1 / span 3;
    grid-column: 1;
  }
  
  .box-respuestas {
    grid-row: 2;
    grid-column: 4 / span 2;
  }
  
  /* Text Styles */
  
  .FAQ-pregunta {
    color: #1a0041;
    font-size: 16px;
    line-height: 27px;
  }
  
  .FAQ-texto {
    color: #1a0041;
    font-size: 16px;
    line-height: 27px;
  }
  