.iconCarrousel {
    background-image: url('./arrow.svg');
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.boton-inicio > a > svg {
    fill: #2B0C5A;
    width: 50px;
    height: 50px;
}

.iconPrevious {
    transform: rotate(180deg);
}

.carousel-control-next {
    opacity: 1;
    position: absolute;
    right: 0;
    transform: translateX(50%);
    z-index: 1;
    width: 0;
}

.carousel-control-prev {
    opacity: 1;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    z-index: 1;
    width: 0;
}

.carousel-indicators [data-bs-target] {
    background-color: #2B0C5A; 
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 25%);
}

.carousel-buttons-down {
    position: absolute;
    bottom:-56px;
}

.carousel-caption {
    left: 10%;
    right: 10%;
}

.carousel-caption h5 {
    font-size: 48px;
    margin-bottom: 40px;
}

.carousel-caption p {
    font-size: 24px;
}

.boton-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 20px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.boton1 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-style: none;
    color: #E7F1FA;
    background-color: #2B0C5A;
    width: 204px;
    padding: 23px 15px 23px 15px;
    border-radius: 12px;
}

.boton2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-style: none;
    color: #2B0C5A;
    background-color: #E7F1FA;
    width: 204px;
    padding: 15px;
    border-radius: 12px;
}

.textoBoton2 {
    padding-left: 15px;    
}

.boton-carousel {
    box-shadow: 0 0 50px 4px rgba(0, 0, 0, 25%);
}

.carousel {
    width: 75vw;
}

.content {
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-inner {
    border-radius: 5px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 25%);
}

.alineamiento {
    top: 15%;
}

.carousel-buttons {
  position: inherit;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-item > img {
    height: 672px;
    object-fit: cover;
    filter: brightness(35%);
}

@media (max-width: 1470px) {
    .carousel {
        width: 100vw;
        height: 450px;
    }

    .content {
        margin-top: 18vh;
        margin-bottom: 15vh;
        height: 450px;
    }

    .carousel-item > img {
        height: 450px;
    }

    .carousel-caption h5 {
        font-size: 32px;
        margin-bottom: 40px;
    }
    
    .carousel-caption p {
        font-size: 16px;
    }

    .boton-inicio {
        font-size: 16px;
    }

    .boton1, .boton2 {
        height: 55px;
        width: 160px;
    }

    .boton-inicio > a > svg {
        width: 45px;
        height: 45px;
    }
}