/* ------------------------------ */
/* Sidebar                        */
/* ------------------------------ */

.sidebar-container {
  grid-area: sidebar;
  box-sizing: border-box;
  margin: 0;
  align-self: self-start;
  padding: 30px 13px;
  position: sticky;
  width: 270px;
  height: 100vh;
  background-color: var(--blanco);
  box-shadow: 0 0 4px rgba(0, 0, 0, 25%);
  top: 0;
  left: 0;
}

.container-logo {
  display: flex;
  align-items: center;
}

.container-items {
  padding-top: 5.5rem;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon-item {
  width: 24px;
  height: 26px;
  margin-right: 14px;
  margin-left: 14px;
  fill: var(--violeta);
}

.container-item-individual {
  height: 40px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.container-item-individual:hover {
  border-radius: 5%;
  background-color: var(--celeste-claro);
}

.menu-desplegable a {
  height: 40px;
  display: flex;
  align-items: center;
}

.menu-desplegable a:hover {
  border-radius: 5%;
  background-color: var(--celeste-claro);
}

.container-item-individual-darkmode {
  margin-top: 70px;
  display: flex;
  align-items: center;
}

.container-subitems {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.subitem {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.fondo {
  margin: 0;
}

.fondo:hover {
  border-radius: 5%;
  background-color: var(--celeste-claro);
}

 

/* ------------------------------ */
/* Estilos para el boton darkmode */
/* ------------------------------ */

.contenedor-darkmode {
  margin: 0 auto;
}

.switch-darkmode {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch-darkmode input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-darkmode {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gris);
  transition: 0.4s;
  border-radius: 34px;
}

.slider-darkmode:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: var(--blanco);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider-darkmode {
  background-color: var(--violeta);
}

input:checked + .slider-darkmode:before {
  transform: translateX(18px);
}

/* ------------------------------ */
/* Footer                         */
/* ------------------------------ */

.footer-container {
  grid-area: footer;
  background-color: #2b0c5a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--blanco);
  background: rgb(43, 12, 90);
  background: -moz-linear-gradient(
    45deg,
    rgba(43, 12, 90, 1) 0%,
    rgba(26, 0, 65, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(43, 12, 90, 1) 0%,
    rgba(26, 0, 65, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(43, 12, 90, 1) 0%,
    rgba(26, 0, 65, 1) 100%
  );
}

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 14px;
  color: var(--gris);
  padding: 8px 0;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-menus .footer-content-container:nth-of-type(1) {
  margin-right: 300px;
}

.footer-content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 80px 40px 60px 40px;
}

.logo-footer {
  margin-bottom: 25px;
  align-items: center;
}

.website-logo {
  margin: 0px auto;
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
}

.menu-item-footer {
  margin: 0.5rem 0;
  font-size: 14px;
  color: var(--gris);
  /*transition: 0.5s;*/
}

.menu-item-footer:hover {
  color: var(--celeste-claro);
}

.item-footer {
  margin: 0.5rem 0;
  font-size: 14px;
  color: var(--gris);
  color: var(--celeste-claro);
}

.footer-info {
  font-size: 12px;
  color: var(--gris);
  margin: 0.1rem 0;
}

.menu-title {
  margin-bottom: 27px;
  font-size: 16px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70%;
  padding: 20px;
}

.header {
  display: none;
}
