.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 90%;
  margin: 50px auto;
}

.estilos-div {
  position: relative;
  margin: auto 0;
}

.estilos-div:hover {
  position: relative;
  filter: brightness(90%);
}

.contenedor-img {
  position: relative;
  padding: 0px;
}

.contenedor-img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  filter: brightness(50%);
}

.descripcion-superior-div {
  position: absolute;
  top: 40%;
  left: 20px;
  right: 20px;
  color: #fff;
}

.descripcion-inferior-div {
  position: absolute;
  bottom: 5%;
  left: 20px;
  right: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.descripcion-superior-div p,
.descripcion-inferior-div p {
  font-size: 16px;
}
.descripcion-superior-div h3 {
  font-size: 22px;
}

.container-add-delete {
  margin: 0px auto;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
}

.container-add-delete > svg,
.container-add-delete > p {
  margin-right: 1rem;
  font-size: 1.2rem;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #2b0c5a !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:hover {
  background-color: #571ab3 !important;
}

div:where(.swal2-container) input:where(.swal2-input):focus {
  box-shadow: 0 0 0 0.25rem rgb(43, 12, 90, 0.25) !important;
}

div:where(.swal2-container) textarea:where(.swal2-textarea):focus {
  box-shadow: 0 0 0 0.25rem rgb(43, 12, 90, 0.25) !important;
}

@media (max-width: 1280px) {
  .contenedor-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (max-width: 768px) {
  .contenedor-grid {
    display: block;
  }

  .estilos-div {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .descripcion-superior-div {
    top: 10%;
    left: 5%;
    right: 5%;
  }

  .descripcion-inferior-div {
    left: 5%;
    right: 5%;
  }

  .descripcion-superior-div h3,
  .descripcion-superior-div p,
  .descripcion-inferior-div p {
    font-size: 32px;
  }
}
