.container-button-login {
  position: absolute;
  right: 1.5rem;
  margin-top: 1.4rem;
  
}

.container-button-login > a, 
.container-button-login > button {
  width: 6rem;
  border: none;
  background-color: #2b0c5a;
  margin-right: 0.5rem;
   
}

.container-button-login > a:hover, 
.container-button-login > button:hover {
  background-color: #4d169f;
}

.container-button-login > .active {
  background-color: #2b0c5a;
}

.btn:first-child:active,
.btn:focus-visible,
.btn.active:focus-visible {
  background-color: #2b0c5a;
  box-shadow: none;
}

@media (max-width: 1470px) {
  .container-button-login {
    margin-top: 0;
    right: 4rem;
  }

  .container-button-login > a, 
  .container-button-login > button {
    width: 8rem;
    border: none;
    background-color: #2b0c5a;
    margin-right: 0.5rem;
   
}
}
