.contenedor-inscripcion {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    width: 90%;
    margin: 50px auto;
}

.contenedor-texto {
    background-color: #fff;
    padding: 35px;
}

.texto-violeta {
    color: #2B0C5A;
}

.contenedor-fechas {
    background-color: #fff;
    padding: 35px;
}

.contenedor-fechas ul {
    padding: 0;
    list-style: none;
}

.contenedor-fechas ul li {
    background-color: #E7F1FA;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
}

@media (max-width: 1280px){
    .contenedor-inscripcion {
        display: block;
    }

    .contenedor-texto {
        margin-bottom: 20px;
    }
}